<!-- HEADER -->
<header class="site-header">
    <!-- Кнопка Каталога -->
  
  
    <!-- Поисковая строка -->
    <div class="search-box">
      <i class="fas fa-search"></i>
      <input type="text" placeholder="Поиск по товарам" />
    </div>
  
    <!-- Иконки справа -->
    <div class="header-icons">
      <div class="icon-block">
      </div>
      <div class="icon-block">
        <i class="far fa-user"></i>
     
      </div>
      <div class="icon-block">
        <i class="fas fa-shopping-bag"></i>
        
      </div>
    </div>
  </header>
  